POSTGRES_DB=unifeed
POSTGRES_USER=unifeed
POSTGRES_PASSWORD=change-me-local-only
POSTGRES_PORT=5432
REDIS_PORT=6379
KAFKA_HOST_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
BACKEND_PORT=8080
FRONTEND_PORT=5173
JWT_SIGNING_KEY=replace-with-a-strong-local-development-key
APP_SEED_ENABLED=false
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=replace-with-local-mail-username
MAIL_PASSWORD=replace-with-local-mail-password
MAILPIT_UI_PORT=8025
